<h1>Hello</h1>
<p>I'm sending you this email from mailgun in Heroku brah</p>
<table>
  <tr>
    <td>Name</td>
    <td><%= @options[:name] %></td>
  </tr>
<tr>
    <td>Email:</td>
    <td><%= @options[:email]%></td>
  </tr>
<tr>
    <td>Body:</td>
    <td><%= @options[:body]%></td>
  </tr>
<tr>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td></td>
    <td></td>
  </tr>
</table>
