  <div>
    <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/DSC_0553.JPG" id="aboutpic">
  </div>
  <!-- end: Map -->

  <!-- start: Page Title -->
  <!-- end: Page Title -->
  <!--start: Wrapper-->
  <div id="wrapper">


    <!--start: Container -->
      <div class="container">
<hr>
      <!--start: Content -->
        <div class="content">

      <!--start: Row -->
        <div class="row">

        <div class="span8">
          <!-- start: History -->
          <div id="about">
            <div class="title"><h3>Our History</h3></div>
            <p>
              Express Cash and Loan, Inc. is a family operated business and has been servicing Madera County since 1988. We are an honest and dependable pawn shop that works closely with the local police department and sheriff’s department. We make loans using anything of value as collateral to help those in need of quick cash. During these hard times, it's hard to find that extra bit of cash just to get by. It’s better to pawn gold instead of selling it outright so that you can use it for other emergencies.<p>

              We offer a variety of services including jewelry repair, custom jewelry work, and the selling of weaponry. Please don’t hesitate to come in and see our stock in person or online. We pawn anything from gold, silver, firearms, electronics, computers, musical instruments, TVs, vehicles and more. Express Cash and Loan, Inc. is reliable and our services are confidential.
            </p>


          </div>
          <!-- end: History -->

          <!-- start: Team -->
          <div id="team">

            <div class="title"><h3>Our Pawnbrokers</h3></div>

            <!-- start: Row -->
            <div class="row">

              <!-- start: About Member -->
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/susan.jpg" alt="team member" class="teampic">
                <div class="team-name">Susan Green<span><br>General Manager</span></div></center>
                <p>
                  Our life line Suzy manages daily store operations with an excellent leadership role. Bilingual in both English and Spanish she: oversees associates, lending activities, provides damage control, training new employees, prevents losses to the company and customer assets. Suzy ensures the future of our local Madera Pawn shop pawning with her friendly charisma.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <div id="gary_back"><img src="https://dl.dropbox.com/u/7020515/MaderaPawn/gary.jpg" alt="team member" class="teampic"></div>
                <div class="team-name">Gary Carlson <span><br>Gun Dept. Manager</span></div></center>
                <p>
                  Responsible for managing the sale and pawn of all firearms. Keeps a steady supply of firearms in stock, maintain records and administers the Handgun Safety Test. Serves customers by providing full customer satisfaction in a professional and courteous manner. Assists customer in locating merchandise, handles cash and operates terminal.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/garrett.jpg" alt="team member" class="teampic">
                <div class="team-name">Garrett Green <span><br>Front Desk</span></div></center>
                <p>
                  Negotiates prices of items brought in to pawn. Handles cash transactions with sales, money orders and payday advances. Responsible for customer service by serving customers to their satisfaction in a professional and courteous manner. Assists customer in locating merchandise and operates terminal.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/danielle.jpg" alt="team member" class="teampic">
                <div class="team-name">Danielle Green <span><br>Office Assistant</span></div></center>
                <p>
                  Assists store managers with daily store operations. Conducts cash transactions with sales, money orders and payday advances. Provides customer service in a professional manner and assist customers with their transactions.
                </p>
              </div>
              <!-- end: About Member -->

            </div>
            <!-- end: Row -->

          </div>
          <!-- end: Team -->

        </div>
        <div class="span3">

          <!-- start: Sidebar -->
          <div id="sidebar">
                <center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/rebecca.jpg" alt="team member" class="teampic">
                <div class="team-name">Rebecca Martin<span><br>Owner</span></div></center>
                <p>
                  Express Cash owner and president also known as Beccy. In 1988 Becy founded a friendly business focused on being: Honest, Dependability, and Community.
                </p>

        </div>
      </div>

      </div>
      <!--end: Row-->

    </div>
    <!--end: Container--><hr>
  </div>
  <!-- end: Wrapper  -->

</div>

