  <div>
    <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/DSC_0553.JPG" id="aboutpic">
  </div>
  <!-- end: Map -->

  <!-- start: Page Title -->
  <!-- end: Page Title -->
  <!--start: Wrapper-->
  <div id="wrapper">


    <!--start: Container -->
      <div class="container">
<hr>
      <!--start: Content -->
        <div class="content">

      <!--start: Row -->
        <div class="row">

        <div class="span8">
          <!-- start: History -->
          <div id="about">
            <div class="title"><h3>Our History</h3></div>
            <p>
              Express Cash and Loan, Inc. is a family operated business servicing Madera County since 1988. We are a dependable pawn shop that works closely with the local police department and sheriff’s department. Anything of value can be used as collateral to help those in need of quick cash. We understand that during these hard times it's hard to find that extra bit of cash; we offer alternative ways to recive cash fast.<p>

              We offer a variety of services including: jewelry repair, custom jewelry work, buying gift cards, buy/sell weaponry, gold, silver, firearms, electronics, computers, musical instruments, TVs, vehicles and more! Please don’t hesitate to come in and see our stock in person or contact us online at our <%= link_to "Contact Page", contact_path %>. Express Cash and Loan, Inc. is reliable and our services are confidential.
            </p>


          </div>
          <!-- end: History -->

          <!-- start: Team -->
          <div id="team">

            <div class="title"><h3>Our Pawnbrokers</h3></div>

            <!-- start: Row -->
            <div class="row">

              <!-- start: About Member -->
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/susan.jpg" alt="team member" class="teampic">
                <div class="team-name">Susan Green<span><br>General Manager</span></div></center>
                <p>
                  Bilingual in both English and Spanish. Suzy manages daily store operations with an excellent leadership role she: oversees associates, lending activities, provides damage control, training new employees, prevents losses to the company and customer assets. Suzy is our backbone that ensures the future of our local Madera Pawn shop pawning with her friendly charisma.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <div id="gary_back"><img src="https://dl.dropbox.com/u/7020515/MaderaPawn/gary.jpg" alt="team member" class="teampic"></div>
                <div class="team-name">Gary Carlson <span><br>Gun Dept. Manager</span></div></center>
                <p>
                  Our Gun Depertment Manager which is responsible for managing the sale and pawn of all firearms. Gary maintains: a steady supply of firearms, gun records, administers the Handgun Safety Test, serves customers, and assist in locating merchanise.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/garrett.jpg" alt="team member" class="teampic">
                <div class="team-name">Garrett Green <span><br>Front Desk</span></div></center>
                <p>
                  Garrett is one of our longstanding employees in our beloved pawn shop. He negotiates: prices of items brought, cash transactions with sales, money orders, payday advances, customer service, and he also assists customer in locating merchandise.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/danielle.jpg" alt="team member" class="teampic">
                <div class="team-name">Danielle Green <span><br>Office Assistant</span></div></center>
                <p>
                  Our newest member Danielle: assists the store managers with daily operations, money orders and payday advances.
                </p>
              </div>
              <!-- end: About Member -->

            </div>
            <!-- end: Row -->

          </div>
          <!-- end: Team -->

        </div>
        <div class="span3">

          <!-- start: Sidebar -->
          <div id="sidebar">
                <center>
                <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/rebecca.jpg" alt="team member" class="teampic">
                <div class="team-name">Rebecca Martin<span><br>Owner</span></div></center>
                <p>
                  Express Cash owner and president also known as Beccy. In 1988 she founded a friendly business focused on being: Honest, Dependability, and Community.
                </p>

        </div>
      </div>

      </div>
      <!--end: Row-->

    </div>
    <!--end: Container--><hr>
  </div>
  <!-- end: Wrapper  -->

</div>

