  <div>
    <img src="https://dl.dropbox.com/u/7020515/websiteinfo/20130117_144633.jpg"><img src="https://dl.dropbox.com/u/7020515/websiteinfo/20130117_144939%20%281%29.jpg"><img src="https://dl.dropbox.com/u/7020515/websiteinfo/20130117_144633.jpg">
  </div>
  <!-- end: Map -->


  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <!--start: Content -->
        <div class="content">

      <!--start: Row -->
        <div class="row">

        <div class="span10">

          <!-- start: About Us -->
<!--           <div id="about">
            <div class="title"><h3>About Us</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div>
 -->          <!-- end: About Us -->

          <!-- start: History -->
          <div id="history">
            <p>
              Express Cash and Loan, Inc. is a family operated business and has been servicing Madera County since 1988. We are an honest and dependable pawn shop that works closely with the local police department and sheriff’s department. We offer a variety of services including jewelry repair, custom jewelry work, and the selling of weaponry. During these hard times, it's hard to find that extra bit of cash just to get by. We make loans using anything of value as collateral to help those in need of quick cash. Please don’t hesitate to come in and see our stock in person or online. We pawn anything from gold, silver, firearms, electronics, computers, musical instruments, TVs, vehicles and more. Express Cash and Loan, Inc. is reliable and our services are confidential.
            </p>
          </div>
          <!-- end: History -->

          <!-- start: Team -->
          <div id="team">

            <div class="title"><h3>The Family</h3></div>

            <!-- start: Row -->
            <div class="row">

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/websiteinfo/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Rebecca Martin<span><br>Owner</span></div></center>
                <p>

                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/websiteinfo/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Susan Green<span><br>Manager</span></div></center>
                <p>
                  Manage all operations of the business from bookkeeping records to payroll. I train employees in all aspects of pawning and buying items that are brought into the store.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/websiteinfo/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Gary Carlson <span><br>Gun Dept. Manager</span></div></center>
                <p>
                  Responsible for pawning and sales of firearms.  Orders and keeps a supply of firearms on hand for sale to customers.  Administers Handgun Safety Test. Maintains all firearms records for audit purposes.  Gary also functions as a pawnbroker and aides customers in sales and money orders.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/websiteinfo/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Garrett Green <span><br>Pawnbroker, Front Desk</span></div></center>
                <p>
                  Waits on customers and pawns or purchases the items that are brought in.  Also aides customers in sales, money orders and payday advances.
                </p>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="https://dl.dropbox.com/u/7020515/websiteinfo/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Danielle Green <span><br>Office Assistant/Front Desk</span></div></center>
                <p>
                  Assist managers with office work and assist at the front desk with customers in sales, money orders and payday advances.
                </p>
              </div>
              <!-- end: About Member -->

            </div>
            <!-- end: Row -->

          </div>
          <!-- end: Team -->


        </div>


      </div>
      <!--end: Row-->

    </div>
    <!--end: Container-->
<hr>
  </div>
  <!-- end: Wrapper  -->

</div>

