  <!-- start: Page Title -->
  <div id="page-title">

    <div id="page-title-inner">

      <!-- start: Container -->
      <div class="container">

        <h2><i class="ico-stats"></i>About Us</h2>

      </div>
      <!-- end: Container  -->

    </div>

  </div>
  <!-- end: Page Title -->

  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <!--start: Content -->
        <div class="content">

      <!--start: Row -->
        <div class="row">

        <div class="span10">

          <!-- start: About Us -->
          <div id="about">
            <div class="title"><h3>About Us</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div>
          <!-- end: About Us -->

          <!-- start: History -->
          <div id="history">
            <div class="title"><h3>History</h3></div>
            <p>
              <span class="dropcap">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              <span class="dropcap color">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              <span class="dropcap dark">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div>
          <!-- end: History -->

          <!-- start: Team -->
          <div id="team">

            <div class="title"><h3>Team</h3></div>

            <!-- start: Row -->
            <div class="row">

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="http://www.codeconsortium.com/bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Rebecca Martin<span><br>Owner</span></div></center>
                <p>

                </p>
                <div class="social_profiles">
                  <ul class="social-bookmarks">
                    <!-- <li class="facebook"><a href="">facebook</a></li> -->
                    <!-- <li class="flickr"><a href="">flickr</a></li> -->
                    <!-- <li class="googleplus"><a href="#">googleplus</a></li> -->
                    <!-- <li class="linkedin"><a href="#">linkedin</a></li> -->
                    <!-- <li class="twitter"><a href="#">twitter</a></li> -->
                    <!-- <li class="pinterest"><a href="#">pinterest</a></li> -->
                  </ul>
                </div>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="http://www.codeconsortium.com/bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Susan Green<span><br>Manager</span></div></center>
                <p>
                  Manage all operations of the business from bookkeeping records to payroll. I train employees in all aspects of pawning and buying items that are brought into the store.
                </p>
                <div class="social_profiles">
                  <ul class="social-bookmarks">
                    <li class="facebook"><a href="">facebook</a></li>
                    <!-- <li class="flickr"><a href="">flickr</a></li> -->
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <li class="linkedin"><a href="#">linkedin</a></li>
                    <!-- <li class="twitter"><a href="#">twitter</a></li> -->
                    <!-- <li class="pinterest"><a href="#">pinterest</a></li> -->
                  </ul>
                </div>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="http://www.codeconsortium.com/bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Gary Carlson <span><br>Gun Dept. Manager</span></div></center>
                <p>
                  Responsible for pawning and sales of firearms.  Orders and keeps a supply of firearms on hand for sale to customers.  Administers Handgun Safety Test. Maintains all firearms records for audit purposes.  Gary also functions as a pawnbroker and aides customers in sales and money orders.
                </p>
                <div class="social_profiles">
                  <ul class="social-bookmarks">
                    <li class="facebook"><a href="">facebook</a></li>
                    <!-- <li class="flickr"><a href="">flickr</a></li> -->
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <!-- <li class="linkedin"><a href="#">linkedin</a></li> -->
                    <!-- <li class="twitter"><a href="#">twitter</a></li> -->
                    <!-- <li class="pinterest"><a href="#">pinterest</a></li> -->
                  </ul>
                </div>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="http://www.codeconsortium.com/bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Garrett Green <span><br>Pawnbroker, Front Desk</span></div></center>
                <p>
                  Waits on customers and pawns or purchases the items that are brought in.  Also aides customers in sales, money orders and payday advances.
                </p>
                <div class="social_profiles">
                  <ul class="social-bookmarks">
                    <li class="facebook"><a href="">facebook</a></li>
                    <!-- <li class="flickr"><a href="">flickr</a></li> -->
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <!-- <li class="linkedin"><a href="#">linkedin</a></li> -->
                    <!-- <li class="twitter"><a href="#">twitter</a></li> -->
                    <!-- <li class="pinterest"><a href="#">pinterest</a></li> -->
                  </ul>
                </div>
              </div>
              <!-- end: About Member -->

              <!-- start: About Member -->
              <div class="span2"><center>
                <img src="http://www.codeconsortium.com/bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif" alt="team member">
                <div class="team-name">Danielle Green <span><br>Office Assistant/Front Desk</span></div></center>
                <p>
                  Assist managers with office work and assist at the front desk with customers in sales, money orders and payday advances.
                </p>
                <div class="social_profiles">
                  <ul class="social-bookmarks">
                    <li class="facebook"><a href="">facebook</a></li>
                    <!-- <li class="flickr"><a href="">flickr</a></li> -->
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <li class="linkedin"><a href="#">linkedin</a></li>
                    <!-- <li class="twitter"><a href="#">twitter</a></li> -->
                    <!-- <li class="pinterest"><a href="#">pinterest</a></li> -->
                  </ul>
                </div>
              </div>
              <!-- end: About Member -->

            </div>
            <!-- end: Row -->

          </div>
          <!-- end: Team -->


        </div>

        <!-- <div class="span3"> -->

          <!-- start: Sidebar -->
          <!-- <div id="sidebar"> -->

            <!-- start: Skills -->
<!--                 <div class="title"><h3>Our Skills</h3></div>
                <ul class="progress-bar">
                  <li>
                      <h5>Web Design ( 40% )</h5>
                      <div class="meter"><span style="width: 40%"></span></div>
                    </li>
                    <li>
                      <h5>Wordpress ( 80% )</h5>
                      <div class="meter"><span style="width: 80%"></span></div>
                    </li>
                    <li>
                      <h5>Branding ( 100% )</h5>
                      <div class="meter"><span style="width: 100%"></span></div>
                    </li>
                    <li>
                      <h5>SEO Optmization ( 60% )</h5>
                      <div class="meter"><span style="width: 60%"></span></div>
                    </li>
                </ul>
 -->                <!-- end: Skills -->

            <!-- start: Tabs -->
<!--             <div class="title"><h3>Tabs</h3></div>

            <ul class="tabs-nav">
              <li class="active"><a href="#tab1"><i class="mini-ico-glass"></i> Tab 1</a></li>
              <li><a href="#tab2"><i class="mini-ico-list"></i> Tab 2</a></li>
              <li><a href="#tab3"><i class="mini-ico-pencil"></i> Tab 3</a></li>
            </ul>

            <div class="tabs-container">
              <div class="tab-content" id="tab1">1. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="tab-content" id="tab2">2. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="tab-content" id="tab3">3. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
 -->            <!-- end: Tabs -->

            <!-- start: Testimonials-->

<!--             <div class="testimonial-container">

              <div class="title"><h3>Testimonials</h3></div>

                <div class="testimonials-carousel" data-autorotate="3000">

                  <ul class="carousel">

                    <li class="testimonial">
                      <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                      <div class="testimonials-bg"></div>
                      <div class="testimonials-author">Elon Musk, <span>CEO</span></div>
                    </li>

                    <li class="testimonial">
                      <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                      <div class="testimonials-bg"></div>
                      <div class="testimonials-author">Steve Jobs, <span>CTO</span></div>
                    </li>

                    <li class="testimonial">
                      <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                      <div class="testimonials-bg"></div>
                      <div class="testimonials-author">Bill Gates, <span>COO</span></div>
                    </li>

                  </ul>

                </div>

              </div>
 -->
            <!-- end: Testimonials-->

          <!-- </div> -->
          <!-- end: Sidebar -->

        <!-- </div> -->

      </div>
      <!--end: Row-->

    </div>
    <!--end: Container-->
<hr>
  </div>
  <!-- end: Wrapper  -->

</div>

