  <!-- start: Map -->
  <div>
<script type="text/javascript">
$('.datepicker').datepicker()
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
    <!-- starts: Google Maps -->
    <div id="googlemaps" class="google-map google-map-full"></div>
    <div id="mobileOverlay"></div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
      $('#googlemaps').gMap({
        controls: {
          panControl: false,
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          overviewMapControl: false
        },
        maptype: 'ROADMAP',
        scrollwheel: false,
        zoom: 15,

        markers: [
          {
            address: '329 South C Sreet, Madera, CA', // Your Adress Here
            html: 'Express Cash and Loan, Inc.',
            popup: false,
          }

        ],
      });
    </script>
    <!-- end: Google Maps -->
  </div>
  <!-- end: Map -->

  <!-- start: Wrapper -->
  <div id="wrapper">

    <!-- start: Container -->
    <div class="container">

      <hr>
      <!-- start: Row -->
      <div class="row">

        <!-- start: Contact Info -->
        <div class="span3">
          <div class="title-out"><h3>Contact Info</h3></div>
          <p>
            <i class="mini-ico-home"></i> <b>Express Cash and Loan, Inc.</b>
          </p>
          <p>
            <i class="mini-ico-map-marker"></i> 329 South C Street
          </p>
          <p>
            <i class="mini-ico-map-marker"></i> Madera, California 93638
          </p>
          <p>
            <i class="ico-zg-iphone"></i> Phone: (559) 661-7296
          </p>
          <p>
            <i class="mini-ico-print"></i> Fax: (559) 673-1775
          </p>
          <p>
            <i class="mini-ico-envelope"></i> Email: Suzy@maderapawn.com
          </p>
          <p>
            <i class="mini-ico-globe"></i> Web: <%= link_to "maderapawn.com", root_path %>
          </p>
        </div>
        <!-- end: Contact Info -->

        <!-- start: Contact Form -->
        <div class="span4">
<!--           <ul class="nav nav-tabs" id="myTab">
            <li class="active">
            <a href="#home"></a>General Questions</li>
            <li><a href="#pickup">Pickup Jewelry</a></li>

          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
 -->              <div id="contact-form">
            <form method="post" action="/contact">
          <div class="title-out"><h3>General Questions</h3></div>

                            <fieldset>
                <div class="clearfix">
                  <label for="name"><span>Name:</span></label>
                  <div class="input">
                    <input tabindex="1" size="18" id="name" name="name" type="text" value="">
                  </div>
                </div>

                <div class="clearfix">
                  <label for="email"><span>Email:</span></label>
                  <div class="input">
                    <input tabindex="2" size="18" id="email" name="email" type="text" value="" class="input-xlarge">
                  </div>
                </div>

                <div class="clearfix">
                  <label for="email"><span>Phone:</span></label>
                  <div class="input">
                    <input tabindex="3" size="18" id="phone" name="phone" type="text" value="" class="input-xlarge">
                  </div>
                </div>

                <div class="clearfix">
                  <label for="message"><span>Message:</span></label>
                  <div class="input">
                    <textarea tabindex="4" class="input-xlarge" id="message" name="body" rows="7"></textarea>
                  </div>
                </div>

                <div class="actions">
                  <button tabindex="5" type="submit" class="btn btn-succes btn-large">Send message</button>
                </div>
              </fieldset>

            </form>

            <!--</div>
            <div class="tab-pane" id="pickup">
 <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input class="span2" size="16" type="text" value="12-02-2012">
  <span class="add-on"><i class="icon-th"></i></span>
</div>
 -->

            </div>
          </div>
            <div class="span4">
                          <h1><i><%= flash[:alert] %></i></h1>

            </div>

          <!-- start: Contact Form -->



          </div>
          <!-- end: Contact Form -->

        </div>
        <!-- end: Contact Form -->

      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Container -->

    </div>
  <!-- end: Wrapper  -->
<!--  -->

