  <!--start: Wrapper-->
  <div id="wrapper">


    <!--start: Container -->
      <div class="container">
        <hr>
<h2><i class="ico-settings"id="hours" ></i>FAQ</h2>
<p>
Question: Is this a pawn shop?<br>
Answer: Yes, we are a pawn shop.
</p>
<p>
Question: Where are you located?<br>
Answer: We are located across the street from the new police dept.
Our address is 329 South C Street.
</p>
<p>
Question: How long are the loans for?<br>
Answer: California law allows 4 months for pawns.
</p>
<p>
Question: What if I don’t want to pawn, I just want to sell my item?<br>
Answer: We can purchase your items too.
</p>
<p>
Question: Do you pay more if I sell my items?<br>
Answer: Yes, we pay more if you sell your items.
</p>
<p>
Question: If I call will you give me a quote over the phone?<br>
Answer: We will generally ask you to bring the item in. It is difficult
To quote over the phone without seeing make, model,
Condition and year of item you are bringing in.
</p>
<p>
Question: Do we pawn silver jewelry?<br>
Answer: No, we only buy silver.
</p>
<p>
Question: What happens if I lose my pawn slip?<br>
Answer: Come in with your ID and we will look your information
Up on the computer. However, there is a $10.00 lost
Ticket fee, per ticket.
</p>
<p>
Question: What happens if I lose my ID?<br>
Answer: Order a new one as soon as possible, but come in and we
Will still be able to prevent you from losing your property.
</p>
<p>
Question: Can anyone pickup my property for me?<br>
Answer: No, we recommend the person that pawns the item be
The person that picks up the item. However, in cases of
Emergency we will accept written consent from the person
That pawned the items, but please call for information.
</p>
<p>
Question: Can I use a credit card to pickup my pawn?<br>
Answer: No, it must be paid in cash.
<hr>
</div>
</div>
