<div class="container-fluid"">
  <center>
  <h1>Express Cash and Loan, Inc</h1>
  <h2>Madera's Only Legal Pawn Shop</h2>
<div class="well">
  <div class="row-fluid">
  <div class="span3">
  <h3>Hours of Operation</h3>
  Monday-Friday: <b>9</b>am to <b>5</b>pm<br>
  <strong>Loaning</strong>: <b>9</b>am to <b>4:30</b>pm<br><p>
  Saturdays <b>9</b>am to <b>3</b>pm<br>
  <strong>Loaning</strong>: <b>2:30</b>pm<p>
  Sunday: <b>Closed</b>
    <address>
    <strong>Express Cash and Loan, Inc.</strong><br>
    329 S C St, Madera, CA<br>
    Madera, CA 93638<br>
    <abbr title="Phone">Phone:</abbr> (559) 661-7296
    </address>

  </div>
  <div class="span9">
    <div class="video-container">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
  </div>
  </div>


</center>
</div>
</div>
