  <!-- start: Slider -->
  <div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Modern & Clean</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><img src="https://dl.dropbox.com/u/7020515/img/parallax-slider/women1.png" alt="image01" /></div>
      </div>
      <div class="da-slide">
        <h2>Tablets and Phones</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><img src="https://dl.dropbox.com/u/7020515/img/parallax-slider/responsive.png" alt="image02" /></div>
      </div>
      <div class="da-slide">
        <h2>1000 satisfied customers</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><img src="https://dl.dropbox.com/u/7020515/img/parallax-slider/women2.png" alt="image03" /></div>
      </div>
      <div class="da-slide">
        <h2>Website Stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><img src="https://dl.dropbox.com/u/7020515/img/parallax-slider/html5.png" alt="image04" /></div>
      </div>
      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>

  </div>
  <!-- end: Slider -->
  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <hr>


      <!-- start: Row -->
          <div class="row">

        <div class="span9">

          <div class="title-out"><h3>Pawn Shop</h3></div>

          <!-- start: Row -->
              <div class="row">

            <div class="span3">

              <div class="picture">
                <a href="img/car.jpg" rel="image" title="mobile app">
                  <img src="https://dl.dropbox.com/u/7020515/img/car.jpg" >
                  <div class="image-overlay-zoom"></div>
                </a>
                <div class="item-description">
                  <h4><a href="#">Pawn Stuff</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>

                </div>

            <hr class="visible-phone">

            <div class="span3">

              <div class="picture">
                <a href="project.html">
                  <img src="https://dl.dropbox.com/u/7020515/img/web_app1.jpg">
                  <div class="image-overlay-link"></div>
                </a>
                <div class="item-description">
                  <h4><a href="#">Loan Stuff</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>

                </div>

            <hr class="visible-phone">

            <div class="span3">

              <div class="picture">
                <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                  <img src="https://dl.dropbox.com/u/7020515/img/mobile_app1.jpg">
                  <div class="image-overlay-zoom"></div>
                </a>
                <div class="item-description">
                  <h4><a href="#">Buy Stuff</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>

            </div>

              </div>
          <!-- end: Row -->

        </div>

        <hr class="visible-phone">

            <div class="span3">

          <!-- start: Testimonials-->

          <div class="testimonial-container">

            <div class="title-out"><h3>What People Say</h3></div>

              <div class="testimonials-carousel" data-autorotate="3000">

                <ul class="carousel">

                  <li class="testimonial">
                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                    <div class="testimonials-bg"></div>
                    <div class="testimonials-author">Elon Musk, <span>CEO</span></div>
                  </li>

                  <li class="testimonial">
                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                    <div class="testimonials-bg"></div>
                    <div class="testimonials-author">Steve Jobs, <span>CTO</span></div>
                  </li>

                  <li class="testimonial">
                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                    <div class="testimonials-bg"></div>
                    <div class="testimonials-author">Bill Gates, <span>COO</span></div>
                  </li>

                  <li class="testimonial">
                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                    <div class="testimonials-bg"></div>
                    <div class="testimonials-author">Tyler Durden, <span>CMO</span></div>
                  </li>

                </ul>

              </div>

            </div>

          <!-- end: Testimonials-->

            </div>

          </div>
      <!-- end: Row -->

      <hr>

      <div class="content clearfix">

        <div class="span11">

          <!-- start: Row -->
          <div class="row">

            <div class="span7">
              <div class="title"><h3>About Us</h3></div>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </p>
            </div>

            <div class="span4">
              <div class="flex-video widescreen">
                  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe>
              </div>
            </div>

          </div>
          <!-- end: Row -->

        </div>

        <div class="clearfix"></div>
        <hr class="clean">

        <div class="span11">

          <!-- start: Row -->
          <div class="row">

            <div class="span9">

              <div class="title"><h3>Items for Pawn</h3></div>

              <!-- start: Row -->
              <div class="row">

                <div class="span3">

                  <div class="picture">
                    <a href="img/car.jpg" rel="image" title="mobile app">
                      <img src="https://dl.dropbox.com/u/7020515/img/car.jpg" >
                      <div class="image-overlay-zoom"></div>
                    </a>
                    <div class="item-description">
                      <h4><a href="#">Stuff</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                  </div>

                </div>

                <div class="span3">

                  <div class="picture">
                    <a href="project.html">
                      <img src="https://dl.dropbox.com/u/7020515/img/web_app1.jpg">
                      <div class="image-overlay-link"></div>
                    </a>
                    <div class="item-description">
                      <h4><a href="#">More Stuff</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                  </div>

                    </div>

                <div class="span3">

                  <div class="picture">
                    <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                      <img src="https://dl.dropbox.com/u/7020515/img/mobile_app1.jpg">
                      <div class="image-overlay-zoom"></div>
                    </a>
                    <div class="item-description">
                      <h4><a href="#">Other Stuff</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                  </div>

                </div>

              </div>
              <!-- end: Row -->

            </div>


            <div class="span2">

              <div class="title"><h3>Why Us?</h3></div>
              <ul class="check_list">
                <li>Honesty</li>
                <li>Dependability</li>
                <li>Community</li>
            </div>

          </div>

        </div>
        <!-- end: Row -->
        <div class="clearfix"></div>
        <hr class="clean">
        <div class="contact">Borrow and Pawn<i class="ico-envelope ico-white"></i>Suzy@maderapawn.com<i class="ico-iphone ico-white"></i>(559) 661-7296</div>

      </div>

      <hr>

      <div class="title-out"><h3>Brands we carry</h3></div>

      <!-- start Clients List -->
      <div class="clients-carousel">

        <ul class="slides clients">
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/1.jpg" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/2.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/3.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/4.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/5.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/6.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/7.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/8.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/9.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/10.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/1.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/2.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/3.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/4.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/5.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/6.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/7.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/8.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/9.png" alt=""/></li>
          <li><img src="https://dl.dropbox.com/u/7020515/img/logos/10.png" alt=""/></li>
        </ul>

      </div>
      <!-- end Clients List -->

      <hr>

    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->



<!-- <div class="container-fluid"">
<div class="well">
  <div class="row-fluid">
  <div class="span3">
  <h3>Hours of Operation</h3>
  Monday-Friday: <b>9</b>am to <b>5</b>pm<br>
  <strong>Loaning</strong>: <b>9</b>am to <b>4:30</b>pm<br><p>
  Saturdays <b>9</b>am to <b>3</b>pm<br>
  <strong>Loaning</strong>: <b>2:30</b>pm<p>
  Sunday: <b>Closed</b>
    <address>
    <strong>Express Cash and Loan, Inc.</strong><br>
    329 S C St, Madera, CA<br>
    Madera, CA 93638<br>
    <abbr title="Phone">Phone:</abbr> (559) 661-7296
    </address>

  </div>
  <div class="span9">
    <div class="video-container">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=express+cash+and+loan+madera&amp;fb=1&amp;gl=us&amp;hq=express+cash+and+loan+madera&amp;cid=0,0,16748551119175841331&amp;ll=36.960967,-120.05478&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
  </div>
  </div>


</center>
</div>
</div>
 -->
