   <div>
    <img src="https://dl.dropbox.com/u/7020515/MaderaPawn/services.jpg" id="aboutpic">
  </div>

  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">
<hr>
<h2><i class="ico-settings"id="hours" ></i>Services</h2>
      <div class="clearfix"></div>
      <p>
      We offer a variety of services including jewelry repair, custom jewelry work, and the selling of weaponry. Please don’t hesitate to come in and see our stock in person or online. We pawn anything from gold, silver, firearms, electronics, computers, musical instruments, TVs, vehicles and more. Express Cash and Loan, Inc. is reliable and our services are confidential.
    </p>
    <p>
      <small>Department of Justice - Pawnbrokers License</smalll> #<b>20020993</b><br>
      <small>Department of Corporations - Deferred Deposit License</small> #<b>100-0652</b><br>
      <small>ATF Federal Firearms License</small> #<b>9-77-039-02-4K-00486</b>
    </p>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Pawnbroker</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Western Union</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Buy Gold and Silver</h3></div>
            <div class="clear"></div>
          </div>
            </div>

      </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Firearms</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Certified Jewelry Appraisals</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Jewelry Repair</h3></div>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>
          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Custom Jewelry Work</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Order New Jewelry</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Buy Gift Cards</h3></div>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->
<hr>
    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
