  <!-- start: Page Title -->
  <div id="page-title">

    <div id="page-title-inner">

      <!-- start: Container -->
      <div class="container">

        <h2><i class="ico-settings"></i>Services</h2>

      </div>
      <!-- end: Container  -->

    </div>

  </div>
  <!-- end: Page Title -->

  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Pawn</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Loan</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Sell</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

      </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Gold</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Silver</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>stuff</h3></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>

    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
