  <!-- start: Page Title -->
  <div id="page-title">

    <div id="page-title-inner">

      <!-- start: Container -->
      <div class="container">

        <h2><i class="ico-settings"></i>Services</h2>

      </div>
      <!-- end: Container  -->

    </div>

  </div>
  <!-- end: Page Title -->

  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Pawnbroker</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Western Union</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Buy Gold and Silver</h3></div>
            <div class="clear"></div>
          </div>
            </div>

      </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Firearms</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Certified Jewelry Appraisals</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Jewelry Repair</h3></div>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->

      <div class="clearfix"></div>
      <hr>
          <!-- start: Row -->
          <div class="row">

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Custom Jewelry Work</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>Order New Jewelry</h3></div>
            <div class="clear"></div>
          </div>
            </div>

            <div class="span4">
                <div class="icons-box box">
            <i class="ico-ok ico-white circle-color-full big-color"></i>
            <div class="title"><h3>eBay</h3></div>
            <div class="clear"></div>
          </div>
            </div>

          </div>
      <!-- end: Row -->
<hr>
    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
