  <!-- start: Page Title -->
  <div id="page-title">

    <div id="page-title-inner">

      <!-- start: Container -->
      <div class="container">

        <h2><i class="ico-settings"></i>Site Map</h2>

      </div>
      <!-- end: Container  -->

    </div>

  </div>
  <!-- end: Page Title -->

  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">

      <div class="clearfix"></div>
      <hr>

          <!-- start: Row -->
          <div class="row">

<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<!-- created with Free Online Sitemap Generator www.xml-sitemaps.com -->

<url>
  <loc>http://www.maderapawn.com/</loc>
</url>
<url>
  <loc>http://www.maderapawn.com/about</loc>
</url>
<url>
  <loc>http://www.maderapawn.com/services</loc>
</url>
<url>
  <loc>http://www.maderapawn.com/contact</loc>
</url>
<url>
  <loc>http://www.maderapawn.com/sitemap</loc>
</url>
<url>
  <loc>http://www.maderapawn.com/faq</loc>
</url>
</urlset>
      </div>
      <!-- end: Row -->


      <div class="clearfix"></div>
      <hr>

    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
