// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about {
  font-size: 1.2em;
}
#hours {
  margin-top: -12px;
  margin-left: -8px;
  margin-right: -5px;
}
#aboutpic {
  margin-top: -90px;
  max-width: 100%;
}
#gary_back {
  // background-image: url("https://dl.dropbox.com/u/7020515/MaderaPawn/gary_back.jpg")
}
.teampic {
  border-radius: 100%;
  -moz-border-radius: 100%;
}
.twitter-follow-button {
  margin-left: 10px;
}
.contact a {
  color: white;
  text-shadow:1px 1px 0 gray;
    &:hover {
      text-decoration:none;
      text-shadow:1px 1px 0 black;
    }
}

@media only screen and (max-width: 767px) {
  #aboutpic {
  margin-top: 0px;
  max-width: 100%;
  }
  .teampic {
    max-width: 70%;
  }
  .logo {
    margin-left: -100px;
  }
  #googlemaps {
  background-image: url('https://dl.dropbox.com/u/7020515/MaderaPawn/Mobilebg.png');
  }
}

